[Desktop Entry]
Version=1.0
Name=Telegram Desktop
Comment=Official desktop version of Telegram messaging app
Comment[es]=Cliente de mensajería oficial de Telegram
Exec=telegram-desktop -noupdate %u
Icon=/usr/share/telegram-desktop/icons/telegram-desktop.svg
Terminal=false
StartupWMClass=TelegramDesktop
Type=Application
Categories=Network;InstantMessaging;Qt;
MimeType=x-scheme-handler/tg;
